
body, div, ul, p, li, h1, h2{
	margin: 0;
	padding: 0;
}

#main{
	margin: 0 10px;
}

h1{
	margin: 20px 0;
}

h2{
	margin: 10px 0;
}

.item{
	margin:20px 0;
}

li{
	list-style-type: none;
}

li span{
	font-weight: bold;
}

#info li, #contact li{
	display: inline;
	padding-right:30px;
}

#info span, #contact span{
	padding-right: 10px;
}

#ability li, #education li, #program li{
	margin-bottom: 15px;
}

#ability span, #education span, #program span{
	display: block;
}









